@use "./_next/carousel-button_next"
@use "./_prev/carousel-button_prev"

.section-reviews__carousel-button
  width: 7.5vw
  height: 7.5vw
  min-width: 25px
  min-height: 25px
  max-width: 50px
  max-height: 50px
  border-width: 1px
  border-radius: 50%
  background-size: 75%
  background-position: center
  background-repeat: no-repeat
  cursor: pointer
