@use "../../colors"

.section-statistics__item
  position: relative
  padding-inline: 10px
  
.section-statistics__item:nth-child(2n + 1)::before
  position: absolute
  height: 50%
  right: 10px
  top: 20px
  content: ""
  border-right: 1px solid colors.$neutral-40