.section-statistics__wrapper
  grid-template-columns: repeat(2, 1fr)
  padding-bottom: 40px
  row-gap: 48px

@media screen and (min-width:768px)
  .section-statistics__wrapper
    grid-template-columns: repeat(4, 1fr)