.section-team__card
  flex-basis: calc(94vw - 80px)
  min-width: calc(94vw - 80px)
  max-width: 100%
  gap: 8px


@media screen and (min-width: 768px)
  .section-team__card
    flex-basis: 400px
    width: 400px
    min-width: unset