$main-primary: #4C4DDC
$surface-primary: #F5F5FF
$border-primary: #DFE0F3
$hover-primary: #3334CC
$pressed-primary: #085885
$focus-primary: #DBDBF8

$main-secondary: #FFD33C
$surface-secondary: #FFF6D8
$border-secondary: #FFF0BE
$hover-secondary: #D5B032
$pressed-secondary: #806A1E
$focus-secondary: #FFF6D8

$main-success: #50CD89
$surface-success: #F2FFF8
$border-success: #C5EED8
$hover-success: #46B277
$pressed-success: #28593F
$focus-success: #DCF5E7

$main-error: #F14141
$surface-error: #FFF2F2
$border-error: #FAC0C0
$hover-error: #D93A3A
$pressed-error: #802A2A
$focus-error: #FCD9D9

$main-info: #7239EA
$surface-info: #F6F2FF
$border-info: #D0BDF8
$hover-info: #6633D1
$pressed-info: #3F2478
$focus-info: #E3D7FB

$neutral-10: #FFFFFF
$neutral-20: #F5F5F5
$neutral-30: #EDEDED
$neutral-40: #D6D6D6
$neutral-50: #C2C2C2
$neutral-60: #878787
$neutral-70: #606060
$neutral-80: #383838
$neutral-90: #403A3A
$neutral-100: #101010