@use "./logo/logo"
@use "./heading/heading"
@use "./text-content/text-content"
@use "./circle/circle"
@use "./content/content"
@use "./header/header"
@use "./section/section"
@use "./section-intro/section-intro"
@use "./section-advantages/section-advantages"
@use "./section-features/section-features"
@use "./footer/footer"
@use "./menu/menu"
@use "./important-message/important-message"
@use "./highlight/highlight"
@use "./button/button"
@use "./link/link"
@use "./menu-list/menu-list"
@use "./advantages-list/advantages-list"
@use "./cta-form/cta-form"
@use "./wrapper/wrapper"
@use './circle-wrapper/circle_wrapper'
@use './paragraph/paragraph'
@use './icon/icon'
@use "./colors"

* 
  transition: none
  
@font-face 
  font-family: "Inter"
  src: url("../assets/Inter/Inter-VariableFont.ttf") format("truetype")
  color: colors.$neutral-100

body 
  height: auto
  max-width: 100vw
  font-family: "Inter", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  overflow-x: hidden
