@use "./__important-message/important-message"
@use "./__logo/logo"
@use "./__copyright/copyright"
@use "./__separator/separator"
@use "./__menu/menu_mobile"
@use "./__wrapper/wrapper"
@use "./__info-and-menu-wrapper/info-and-menu-wrapper"
@use "./__paragraph/paragraph"
@use "./__company-info/company-info"
@use "./_bg/footer_bg-black"

.footer
  position: relative
  padding-inline: 20px
  padding-block: 40px
  height: fit-content
  overflow: hidden