.section-all-articles__card-picture
  max-width: calc(94vw - 60px)
  object-fit: contain

@media screen and (min-width: 768px)
  .section-all-articles__card-picture
    height: 425px
    width: 500px
    object-fit: cover
