.carousel__wrapper
  flex-basis: calc(94vw - 60px)
  flex-wrap: nowrap
  flex-grow: 0
  gap: 15px
  overflow-x: auto
  overflow-y: hidden
  pointer-events: none
  scrollbar-width: 0

.carousel__wrapper::-webkit-scrollbar
  display: none
