.section-intro__customer-growth
  position: absolute
  top: 10px
  left:  calc(min(calc(100vw - 80px), 335px) * 0.8)
  width: 118px
  height: 122px
  background-image: url("../../../assets/Customer Growth - Light.png")
  background-size: cover

@media screen and (min-width: 768px)
  .section-intro__customer-growth
    left: auto
    right: 0
    transform: translateX(50%)