@use "../../colors"

.feedback-form__options
  display: none
  position: absolute
  z-index: 10
  top: 100%
  padding: 5px
  background-color: colors.$neutral-10
  border-radius: 5px

.feedback-form__options_show
  display: block