.important-message
  display: grid
  grid-template-columns: 6.5vw auto
  column-gap: 15px
  align-items: start
  width: 100%

@media screen and (min-width: 768px)
  .important-message
    grid-template-columns: 5.2vw auto
    width: 41vw