@use "./_next/carousel-button_next"
@use "./_prev/carousel-button_prev"

.section-our-team-choice__carousel-button
  width: 40px
  height: 40px
  border-radius: 50%
  background-repeat: no-repeat
  background-position: center
  background-size: 85%