.section-features__desktop
  position: relative
  width: min(585px, calc((100vw - 85px) / 2))
  height: calc(374px / 335px * min(585px, calc((100vw - 85px) / 2)))
  background-image: url("../../../assets/desktop.png")
  background-size: cover
  margin-bottom: 30px
