.section-features__desktop
  position: relative
  width: 585px
  max-width: 100%
  height: calc(374px / 335px * min(335px, calc(100vw - 40px)))
  background-image: url("../../../assets/desktop.png")
  background-size: contain
