@use "./__picture/picture"
@use "./__controls-button/controls-button"
@use "./__wrapper/wrapper"
@use "./__button-img/button-img"

.carousel
  display: flex
  flex-wrap: nowrap
  gap: 10px
  position: relative
  left: 50%
  height: auto
  transform: translateX(-50%)
  overflow-y: hidden
