.section-team__offer-wrapper
  display: flex
  flex-wrap: nowrap

@media screen and (min-width: 768px)
  .section-team__offer-wrapper
    gap: 71px
    align-items: center
    justify-content: center
