.section-intro__picture
  width: 335px
  background-size: contain
  background-repeat: no-repeat

@media screen and (min-width: 768px)
  .section-intro__picture
    background-size: cover
    background-position: center