.offcanvas.offcanvas_show
  width: fit-content
  max-width: 5000px
  padding: 30px 20px
  padding-top: calc(18px + 70 / 150 * min(75px, 15vw))
  visibility: visible

  *
    opacity: 1

  .menu-button
    width: 24px
    height: 24px