@media screen and (min-width: 768px)
  .section-statistics__wrapper-text
    grid-template-columns: 75vw 1fr
    gap: 30px


@media screen and (min-width: 1400px)
  .section-statistics__wrapper-text
    gap: 10vw
    grid-template-columns: repeat(2, 1fr)