@use "../../colors"

.section-pricing_card-alert
  position: absolute
  top: 40px
  right: 24px

  width: fit-content
  padding: 12px 6px
  border-radius: 100px
  background-color: colors.$main-primary
  color: colors.$neutral-10
