@use "./_country-name/world-map__geomark_country-name-argentina"
@use "./_country-name/world-map__geomark_country-name-australia"
@use "./_country-name/world-map__geomark_country-name-france"
@use "./_country-name/world-map__geomark_country-name-britain"
@use "./_country-name/world-map__geomark_country-name-indonesia"
@use "./_country-name/world-map__geomark_country-name-israel"
@use "./_country-name/world-map__geomark_country-name-japan"
@use "./_country-name/world-map__geomark_country-name-mexico"
@use "./_country-name/world-map__geomark_country-name-south-africa"
@use "./_country-name/world-map__geomark_country-name-turkey"
@use "./_country-name/world-map__geomark_country-name-usa"
@use "../../colors"
  
.world-map__geomark
  position: absolute
  width: 5px
  height: 5px
  background-color: colors.$neutral-40
  border-radius: 50%
  cursor: pointer
