@use "../../../colors"

.section-pricing__card.section-pricing__card_bg-dark
  background-color: colors.$neutral-90
  color: colors.$neutral-10
  .paragraph_color-gray
    color: colors.$neutral-40
  .section-pricing__cta-button
    color: colors.$neutral-90
