@use "../../../colors"
  
.section-reviews__carousel-button_next
  background-color: colors.$neutral-100
  border: 1px solid colors.$neutral-100
  background-image: url("../../../../assets/arrow-next.png")