.section-news__card
  display: inline-flex
  gap: 15px
  width: calc(94vw - 60px)

@media screen and (min-width: 768px)
  .section-news__card
    min-width: calc((94vw - 95px) / 2)
    max-width: 100%
