@use "./__close-button/close-button"
  
.dialog[open]
  position: fixed
  bottom: 0
  left: 0
  right: 0
  margin-bottom: 0
  width: 100vw
  max-width: unset
  outline: none
  border: none
  border-radius: 10px