@use "./_image/picture_image-team"
  
.picture
  width: calc(100vw - 40px)
  background-size: cover
  background-repeat: no-repeat
  margin-bottom: 30px

@media (pointer: fine)
  .picture
    width: calc(100vw - 56px)