@use "../colors"

.thumb
  position: absolute
  right: 2px
  top: 2px
  width: 20px
  height: 20px
  border-radius: 10px
  background-color: colors.$main-primary

.thumb.thumb_off 
  right: auto
  left: 2px