.circle_size-large
  width: calc(60vw - 120px)
  height: calc(60vw - 120px)
  filter: blur(120px)
  $blur: 120px


@media screen and (min-width: 768px)
  .circle_size-large
    width: 40vw
    height: 40vw