@use './circle_color-orange'
@use './circle_color-green'
@use './circle_size-large'
@use './circle_size-small'
@use './circle_position-top-left'
@use './circle_position-top-right'
  
.circle
  position: absolute
  z-index: 1
  border-radius: 50%
