@use "../../colors"
  
.section-pricing__alert
  margin: 0 auto
  margin-bottom: 16px
  width: fit-content
  padding: 4px 12px
  border-radius: 100px
  background-color: rgba(20, 99, 255, 0.1)
  color: colors.$main-primary
