@use "../../../colors"

.section-our-team-choice__carousel-button_prev
  background-color: colors.$neutral-10
  border: 1px solid colors.$neutral-40
  background-image: url("../../../../assets/arrow-prev.png")
