.post__outro-wrapper .post__author-description
  display: none

@media screen and (min-width: 768px)
  .post__outro-wrapper .post__author-description
    display: block
  
  .post__author-description
    display: none
