@use "./icon_image-arrow"
@use "./icon_image-calendar"
@use "./icon_image-check"
@use "./icon_image-checklist"
@use "./icon_image-marked-list"
@use "./icon_image-people"
@use "./icon_image-desk"
@use "./icon_image-shield"
@use "./icon_image-smile"
@use "./icon_rounded"
  
.icon 
  width: 24px
  height: 24px
  background-size: contain
  background-repeat: no-repeat