@use "./_image/icon_image-arrow"
@use "./_image/icon_image-calendar"
@use "./_image/icon_image-check"
@use "./_image/icon_image-checklist"
@use "./_image/icon_image-marked-list"
@use "./_image/icon_image-people"
@use "./_image/icon_image-desk"
@use "./_image/icon_image-shield"
@use "./_image/icon_image-smile"
@use "./_image/icon_image-heart"
@use "./_image/icon_image-lighting"
@use "./_image/icon_image-crown"
@use "./_image/icon_image-available"
@use "./_image/icon_image-unavailable"
@use "./_image/icon_image-plus"
@use "./_image/icon_image-minus"
@use "./_image/icon_image-mail"
@use "./_rounded/icon_rounded"
@use "./_bg/icon_bg-dark"
@use "./_bg/icon_bg-lightgray"
@use "./_bg/icon_bg-blue"
  
.icon 
  background-size: 80%
  background-position: center
  background-repeat: no-repeat