.feedback-form__select-and-input
  position: relative
  grid-template-columns: min-content 1fr
  align-items: stretch
  overflow: auto
  .feedback-form__input
    border-top-left-radius: 0
    border-bottom-left-radius: 0