.section-our-work__card-wrapper
  height: fit-content
  width: fit-content
  display: inline-block

@media screen and (min-width: 1200px)
  .section-our-work__card-wrapper
    $width: min(43vw, 240px)
    max-width: calc(50vw - 132px - $width)
