.section-features__statistics
  position: absolute
  bottom: 20px
  right: 20px
  width: 290px
  max-width: 50%
  height: calc(298px / 290px * min(290px, calc(50vw - 20px)))
  background-image: url("../../../assets/Bar Chart.png")
  background-size: contain
  background-repeat: no-repeat
  background-position: bottom

    